<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Menu Principal</a></li>
      {{#if user}}
        <li role="presentation"><a href="/users/logout">Sair</a></li>
      {{else}}
        <li role="presentation"><a href="/users/login">Entrar</a></li>
        <li role="presentation"><a href="/users/register">Cadastre-se</a></li>
      {{/if}}  
    </ul>
  </nav>
  <h3 class="text-muted">LoginApp</h3>
</div>
