<h2 class="page-header">Faça o seu cadastro:</h2>
<form action="users/register" method="post">
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" name="name" placeholder="nome">
  </div>
  <div class="form-group">
    <label>Usuário</label>
    <input type="text" class="form-control" name="username" placeholder="usuário">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" placeholder="email">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" name="password" placeholder="senha">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
